.title{
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    color: white
}

.navbar{
    background-color: #FF5500;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

.navbar a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}
