.movieCard{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(177, 186, 192);
}

.movieCard img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.movieCard h2{
    padding: 10px;
    text-align: center;
    margin: 0;
}

.movieCard a{
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #FF3300;
    border-radius: 10px;
    margin: 10px;
}

.movieInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    align-items: center;
}

.movieList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.body{
    /* background-color: #f0f0f0; */
    padding: 20px;
    min-height: 100vh;
    width: 70%;
    margin: auto;

}

.filterList{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}   

.filterButton{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

@media screen and (max-width: 768px){
    .body{
        width: 90%;
    }
    
}
